/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "base/base";
@import "neat";

body {
  @include outer-container;
  background-color: #000;
}

.tag-bar {
  @include span-columns(2 of 12);
  background-color: grey;
  border-right: 1px solid #fff;

  a {
    border-radius: 0.5em;
    padding: 0.25em 0.25em 0.25em 0.25em;
    margin: 0.25em 0.25em 0.25em 0.25em;
    background-color: $dark-gray;
  }
}

main {
  @include span-columns(10 of 12);
  /*@include shift(1);*/

  .entry {
    @include span-columns(10 of 10);

    .title {
      @include span-columns(10 of 10);
      @include pad(0.5em 0.5em 0.5em 0.5em);
      background-color: grey;
    }

    .content {
      @include span-columns(10 of 10);
      @include pad(0.5em 0.5em 0.5em 0.5em);
    }
  }
}

.header {
  @include span-columns(12 of 12);
  @include omega;
  @include pad(0 0 0 1em);
  @include border-top-radius(5px);
  background-color: grey;
  margin-bottom: 20px;

  h1 {
    @include span-columns(2 of 12);
  }

  nav {
    @include span-columns(8 of 12);
    @include shift(4);

    a {
      @include span-columns(2 of 8);
    }
  }
}
